# Exercise 11

## Author
Jodi R Hendon

# Exercise 3

# Data Science Tools and Eco System

In this notebook, Data Science Tools and Ecosystem are summarized.

# Exercise 10

**Objectives**

- Popular languages
- Common Libraries
- Data Science tools
- Evaluating Arithmetic in Python

# Exercise 4

Some of the popular languages that Data Scientists use are:

# Exercise 5

Some of the commonly used libraries used by Data Scientists are:

1. Theano
2. Matplotlib
3. Sympy

# Exercise 6

| Data Science Tools|
| -------------------|
| Jupyter Notebook|
| R Studio |
| GitHub |

# Exercise 7

Below are a few examples of evaluating arithmetic expressions in Python.

# Exercise 8

In [58]:
 #This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

# Exercise 9

In [19]:
 #This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335